if !wordpressRestApiPath
    - var wordpressRestApiPath = "/wp-json/wp/v2/users/me"

form(id="new-form" action=formAction method="post" class="mb-5")
    if errorMsg
        div(class="alert alert-danger") #{errorMsg}
    include other-form-parts/wordpress.pug
    include other-form-parts/proxy.pug
    include other-form-parts/2captcha.pug
    include sites/crunchbase.pug
    include sites/spyfu.pug
    include sites/onehourindexing.pug
    include sites/yourtext.pug
    include sites/semrush.pug
    include sites/sistrix.pug
    include sites/majestic.pug
    include sites/babbar.pug
    include sites/spinrewriter.pug
    include sites/smodin.pug
    include sites/iconscout.pug
    include sites/espinner.pug
    include sites/seolyze.pug
    include sites/dinorank.pug
    include sites/wordhero.pug
    include sites/lowfruits.pug
    include sites/answerthepublic.pug
    include sites/pbnpremium.pug
    include sites/closerscopy.pug
    include sites/domcop.pug
    include sites/neilpatel.pug
    include sites/envato.pug
    include sites/freepik.pug
    include sites/rytr.pug
    include sites/keysearch.pug
    include sites/paraphraser.pug
    include sites/bigspy.pug
    include sites/quetext.pug
    include sites/ranktracker.pug
    include sites/ahrefs.pug
    include sites/spamzilla.pug
    include sites/seomonitor.pug
    include sites/colinkri.pug
    include sites/keywordpeopleuse.pug
    include sites/serpstat.pug
    include sites/haloscan.pug
    include sites/copyfy.pug
    include sites/languagetool.pug
    include sites/xovi.pug
    include sites/seoptimer.pug
    include sites/placeit.pug
    div(class="mt-3")
        button(type="submit" class="btn btn-primary") Save
